# Local
DATABASE_URL=postgresql://{DB_USER}:{DB_PASSWORD}@localhost:5432/jobtracker
STORAGE_DIR=./storage
CORS_ORIGINS=http://localhost:3000 # must match your Next.js URL

# Docker
DATABASE_URL=postgresql://{DB_USER}:{DB_PASSWORD}@postgres:5432/jobtracker
STORAGE_DIR=./storage
CORS_ORIGINS=http://localhost:3000 # must match your Next.js URL
